/* VARIABLES */

:root {
  --main-font-family: "Fraunces", "Arial", sans-serif;
  --main-text-color: #333d4b;
  --main-bg-color: #fefcf7;
  --main-font-size: 16px;
  --main-font-weight: 400;
  --main-line-height: 26px;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Regular.woff2") format("woff2"),
    url("../fonts/Barlow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fraunces";
  src: url("../fonts/Fraunces-Black.woff2") format("woff2"),
    url("../fonts/Fraunces-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fraunces";
  src: url("../fonts/Fraunces-Bold.woff2") format("woff2"),
    url("../fonts/Fraunces-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Medium.woff2") format("woff2"),
    url("../fonts/Barlow-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Bold.woff2") format("woff2"),
    url("../fonts/Barlow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-SemiBold.woff2") format("woff2"),
    url("../fonts/Barlow-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* GENERAL */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
  line-height: var(--main-line-height);
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

/* VISUALLY-HIDDEN */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container {
  width: 100%;
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* STICKY-FOOTER */

.site-main {
  flex-grow: 1;
}

/* Header */
.site-header {
}

.site-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 40px;
}

.sitenav {
  display: none;
}

.sitenav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sitenav__item {
  font-family: "Barlow";
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}

.sitenav__item:not(:last-child) {
  margin-right: 33px;
}

.sitenav__link {
  text-decoration: none;
  color: inherit;
}

.sitenav__link:hover {
  color: #333d4b;
}

.modal-btn {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: none;
  background-color: transparent;
  background-image: url("../images/burger-btn.svg");
}

.modal-btn__open {
  background-image: url("../images/x-btn.svg");
  background-repeat: no-repeat;
}

.navbar {
  position: fixed;
  top: 90px;
  left: 0;
  display: none;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(254, 252, 247, 0.504981) 0%,
    #fefcf7 55.94%
  );
}

.navbar-open {
  display: flex;
}

.navbar .sitenav__list {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  animation-name: slide;
  animation-duration: 2s;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateY(0);
  }
}

.navbar .sitenav__item {
  margin-bottom: 32px;
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333d4b;
}

/* Hero */
.hero {
}

.hero__inner {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  border-radius: 10px;
}

.hero__info {
  text-align: center;
}

.info-hero__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 40px;
  line-height: 40px;
  color: #fefcf7;
}

.info-hero__text {
  font-family: "Barlow";
  margin-top: 0;
  margin-bottom: 39px;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #fefcf7;
  opacity: 0.8;
}

.info-hero__link {
  display: inline-block;
  padding: 15px 31px;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
  background-color: #0e8784;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.2s ease;
}

.info-hero__link:hover {
  background-color: #66d2cf;
  transition: 0.2s ease;
}

.info-hero__link:active {
  background-color: #e2dedb;
  transition: 0.2s ease;
}

/* Collection */
.collection {
  margin-top: 120px;
  margin-bottom: 120px;
}

.collection__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-left: 0;
  padding-top: 85px;
  list-style: none;
  background-image: url("../images/collection-bg.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

.collection__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.collection__item:not(:last-child) {
  margin-bottom: 48px;
}

.collection__item::before {
  display: inline-block;
  width: 200px;
  height: 151px;
  content: "";
  margin-bottom: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.collection__item:nth-child(1)::before {
  background-image: url("../images/gran.png");
}

.collection__item:nth-child(2)::before {
  background-image: url("../images/planalato.png");
}

.collection__item:nth-child(3)::before {
  background-image: url("../images/piccollo.svg");
}

.collection__item:nth-child(4)::before {
  background-image: url("../images/danche.svg");
}

.item-collection__info {
  width: 282px;
}

.item-collection__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333d4b;
}

.item-collection__text {
  margin: 0;
  font-family: "Barlow";
}

/* Choose */
.choose {
}

.choose__inner {
  position: relative;
  padding: 64px 24px 661px;
  background-color: #2c343e;
  border-radius: 10px;
}

.choose__info {
  margin-bottom: 64px;
  text-align: center;
}

.info-choose {
}

.info-choose__title {
  margin-top: 0;
  font-weight: 900;
  font-size: 28px;
  line-height: 28px;
  color: #fefcf7;
}

.info-choose__text {
  margin: 0;
  font-family: "Barlow";
  font-size: 15px;
  line-height: 25px;
  color: #fefcf7;
  opacity: 0.8;
}

.choose__list {
  position: absolute;
  width: 100%;
  top: 305px;
  left: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 24px;
  padding-right: 24px;
  list-style: none;
}

.choose__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 72px 33px 51px;
  background-color: #0e8784;
  border-radius: 8px;
}

.choose__item:not(:last-child) {
  margin-bottom: 24px;
}

.choose__item::before {
  display: inline-block;
  margin-bottom: 56px;
  width: 72px;
  height: 72px;
  content: "";
  background-position: center;
  background-repeat: no-repeat;
}

.choose__item:nth-child(1):before {
  background-image: url("../images/coffee-bean.svg");
}

.choose__item:nth-child(2):before {
  background-image: url("../images/gife.svg");
}

.choose__item:nth-child(3):before {
  background-image: url("../images/car.svg");
}

.item-info-chooose__title {
  margin-top: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #fefcf7;
}

.item-info-choose__text {
  margin: 0;
  font-family: "Barlow";
  font-size: 15px;
  line-height: 25px;
  color: #fefcf7;
}

/* Work */
.work {
  margin-top: 717px;
}

.work__inner {
  position: relative;
}

.work__title {
  margin: 0;
  font-weight: 900;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #83888f;
}

.work__line {
  display: none;
}

.work__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 0;
  padding: 0 4px;
  list-style: none;
}

.work__item {
  text-align: center;
}

.work__item:not(:last-child) {
  margin-bottom: 40px;
}

.item-work__number {
  display: inline-block;
  margin-bottom: 18px;
  font-weight: 900;
  font-size: 68px;
  line-height: 68px;
  color: #fdd6ba;
}

.item-work__wrapper {
}

.item-work__title {
  margin-top: 0;
  margin-bottom: 18px;
  font-weight: 900;
  font-size: 26px;
  line-height: 30px;
  color: #333d4b;
}

.item-work__text {
  margin: 0;
  font-family: "Barlow";
  font-size: 15px;
  line-height: 25px;
  color: #333d4b;
}

.work__btn-wrapper {
  margin-top: 60px;
  text-align: center;
}

.work__link {
  display: inline-block;
  padding: 15px 31px;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: #fefcf7;
  text-decoration: none;
  background-color: #0e8784;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

.work__link:hover {
  background-color: #66d2cf;
  transition: background-color 0.2s ease;
}

/* About page */
/* Intro */
.inro__inner {
  padding: 100px 20px 80px;
  background-image: url("../images/about-bg.jpg");
  background-repeat: no-repeat;
  background-position: left -580px top;
  border-radius: 10px;
}

.inro__info {
  text-align: center;
}

.inro__title {
  margin-top: 0;
  margin-bottom: 18px;
  font-weight: 900;
  font-size: 24px;
  line-height: 24px;
  color: #fefcf7;
}

.inro__text {
  margin: 0;
  font-family: "Barlow";
  font-size: 14px;
  line-height: 22px;
  color: #fefcf7;
  opacity: 0.8;
}

/* Commitment */
.commitment {
  margin-top: 120px;
}

.commitment__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commitment__img {
  width: 280px;
  height: 360px;
  border-radius: 8px;
}

.commitment__info {
  margin-top: 48px;
  text-align: center;
}

.info-commitment__title {
  margin-top: 0;
  margin-bottom: 26px;
  font-weight: 900;
  font-size: 28px;
  line-height: 45px;
  color: #333d4b;
}

.info-commitment__text {
  margin: 0;
  font-family: "Barlow";
  font-size: 14px;
  line-height: 22px;
  color: #333d4b;
  opacity: 0.8;
}

/* Quality */
.quality {
  margin-top: 170px;
}

.quality__inner {
  position: relative;
  padding: 135px 18px 48px;
  background-color: #2c343e;
  border-radius: 10px;
}

.quality__info {
  text-align: center;
}

.info-quality__title {
  margin-top: 0;
  margin-bottom: 18px;
  font-weight: 900;
  font-size: 24px;
  line-height: 24px;
  color: #fefcf7;
}

.quality__text {
  margin: 0;
  font-family: "Barlow";
  font-size: 14px;
  line-height: 22px;
  color: #fefcf7;
  opacity: 0.8;
}

.quality__img {
  position: absolute;
  width: 250px;
  height: 140px;
  top: -65px;
  left: calc(50% - 125px);
  object-fit: cover;
  object-position: bottom;
  border-radius: 8px;
}

/* Locatio */
.location {
  margin-top: 100px;
}

.location__inner {
}

.location__title {
  margin-top: 0;
  margin-bottom: 65px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #83888f;
}

.location__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.location__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location__item:not(:last-child) {
  margin-bottom: 60px;
}

.location__item::before {
  display: inline-block;
  width: 52px;
  height: 50px;
  content: "";
  margin-bottom: 40px;
  background-position: center;
  background-repeat: no-repeat;
}

.location__item:nth-child(1):before {
  background-image: url("../images/uk.svg");
}

.location__item:nth-child(2):before {
  background-image: url("../images/canada.svg");
}

.location__item:nth-child(3):before {
  background-image: url("../images/australia.svg");
}

.item-location__title {
  margin-top: 0;
  margin-bottom: 18px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333d4b;
}

.item-location__address {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-location__link {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
  text-decoration: none;
}

/* Footer */
.site-footer {
  margin-top: 120px;
}

.site-footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 54px;
  padding-bottom: 54px;
  background-color: #2c343e;
}

.logo__img {
  width: 218px;
  height: 24px;
}

.site-footer__nav {
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 49px;
}

.site-footer__list {
  display: flex;
  flex-direction: column;
}

.site-footer__item:nth-child(1) {
  margin-right: 0;
  margin-bottom: 24px;
}

.site-footer__item:nth-child(2) {
  margin-right: 0;
  margin-bottom: 24px;
}

.site-footer__link {
  color: #83888f;
  transition: color 0.2s ease;
}

.site-footer__link:hover {
  color: #fefcf7;
  transition: color 0.2s ease;
}

.social-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-item:not(:last-child) {
  margin-right: 24px;
}

.social-link {
  display: inline-block;
  color: #fefcf7;
  transition: color 0.2s ease;
}

.social-link:hover {
  color: #fdd6ba;
  transition: color 0.2s ease;
}

.social-img {
  display: block;
}

@media only screen and (min-width: 375px) {
  .hero__inner {
    padding: 100px 24px;
  }

  .work__title {
    font-size: 24px;
    line-height: 32px;
  }

  .work__list {
    margin-top: 80px;
  }

  .work__item:not(:last-child) {
    margin-bottom: 56px;
  }

  .item-work__number {
    font-size: 72px;
    line-height: 72px;
  }

  .item-work__title {
    font-size: 28px;
    line-height: 32px;
  }

  .work__btn-wrapper {
    margin-bottom: 80px;
  }

  .inro__inner {
    padding: 111px 24px 87px;
    background-image: url("../images/about-bg.jpg");
    background-repeat: no-repeat;
    background-position: left -580px top;
  }

  .inro__info {
    text-align: center;
  }

  .inro__title {
    margin-bottom: 24px;
    font-size: 28px;
    line-height: 28px;
  }

  .inro__text {
    font-size: 15px;
    line-height: 25px;
  }

  .commitment__img {
    width: 327px;
    height: 400px;
  }

  .info-commitment__title {
    margin-bottom: 30px;
    font-size: 32px;
    line-height: 48px;
  }

  .info-commitment__text {
    font-size: 15px;
    line-height: 25px;
  }

  .quality {
    margin-top: 198px;
  }

  .quality__inner {
    padding: 142px 24px 61px;
  }

  .quality__info {
    text-align: center;
  }

  .info-quality__title {
    margin-bottom: 24px;
    font-size: 28px;
    line-height: 28px;
  }

  .quality__text {
    font-size: 15px;
    line-height: 25px;
  }

  .quality__img {
    width: 279px;
    height: 156px;
    top: -78px;
    left: calc(50% - 140px);
  }

  .location {
    margin-top: 120px;
  }

  .location__inner {
  }

  .location__title {
    margin-bottom: 72px;
  }

  .location__item:not(:last-child) {
    margin-bottom: 80px;
  }

  .item-location__title {
    margin-bottom: 22px;
    font-size: 28px;
    line-height: 36px;
  }
}

@media only screen and (min-width: 500px) {
  .work__item {
    max-width: 650px;
  }

  .choose__info {
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
  }

  .choose__item {
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
  }

  .quality__img {
    width: 380px;
    height: 220px;
    top: -100px;
    left: calc(50% - 180px);
  }

  .location {
    margin-top: 130px;
  }

  .location__title {
    margin-bottom: 78px;
    font-size: 28px;
  }

  .location__item:not(:last-child) {
    margin-bottom: 90px;
  }

  .item-location__title {
    margin-bottom: 26px;
    font-size: 32px;
    line-height: 38px;
  }

  .item-collection__text {
    font-size: 17px;
  }
}

@media only screen and (min-width: 600px) {
  .site-header__inner {
    padding-top: 40px;
    padding-bottom: 53px;
  }

  .sitenav {
    display: inline-block;
  }

  .modal-btn {
    display: none;
  }

  .hero__inner {
    padding: 104px 58px;
  }

  .hero__info {
    width: 398px;
    text-align: left;
  }

  .collection__list {
    background-size: 600px 100px;
  }

  .info-hero__title {
    width: 329px;
  }

  .item-collection__title {
    font-size: 26px;
    line-height: 34px;
  }

  .work {
    margin-top: 500px;
  }

  .inro__inner {
    background-position: center;
  }

  .inro__info {
    max-width: 520px;
  }

  .commitment__info {
    max-width: 561px;
  }

  .commitment__img {
    width: 445px;
    height: 460px;
  }

  .quality__info {
    max-width: 520px;
    margin-right: auto;
    margin-left: auto;
  }

  .location {
    margin-top: 140px;
  }

  .location__title {
    margin-bottom: 78px;
    font-size: 32px;
  }

  .item-location__title {
    margin-bottom: 28px;
    font-size: 36px;
    line-height: 40px;
  }

  .item-collection__text {
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .hero__inner {
    padding: 110px 65px;
  }

  .logo__img {
    width: 236px;
    height: 26px;
  }

  .hero__inner {
    background-image: url("../images/hero-bg-big.jpg");
  }

  .hero__info {
    text-align: left;
  }

  .info-hero__title {
    width: 329px;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 24px;
  }

  .info-hero__text {
    font-weight: 400;
  }

  .collection {
    margin-top: 144px;
    margin-bottom: 144px;
  }

  .collection__list {
    padding-top: 58px;
    background-image: url("../images/collection-bg-big.svg");
    background-size: 689px 118px;
  }

  .collection__item {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .collection__item::before {
    margin-bottom: 0;
    width: 255px;
    height: 193px;
    background-size: cover;
  }

  .item-collection__info {
    margin-top: 30px;
    margin-left: 36px;
    width: 282px;
  }

  .item-collectoin__title {
    margin-bottom: 24px;
  }

  .choose__inner {
    padding: 56px 74px 368px;
  }

  .choose__info {
    margin-bottom: 70px;
  }

  .item-info-chooose__title {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 16px;
  }

  .choose__list {
    top: 275px;
  }

  .choose__item {
    flex-direction: row;
    align-items: center;
    max-width: 573px;
    margin-right: auto;
    margin-left: auto;
    padding: 41px 48px 41px 70px;
  }

  .choose__item::before {
    width: 56px;
    height: 56px;
    margin-bottom: 0;
    margin-right: 55px;
    background-size: contain;
  }

  .choose__item-info {
    text-align: left;
  }

  .work {
    margin-top: 413px;
  }

  .work__inner {
    padding-left: 50px;
  }

  .work__title {
    text-align: left;
  }

  .work__line {
    position: absolute;
    top: 87px;
    left: 65px;
    z-index: -1;
    display: block;
    width: 467px;
    height: 2px;
    background-color: #fdd6ba;
  }

  .work__list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 40px;
  }

  .work__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 223px;
    text-align: left;
  }

  .work__item::before {
    display: inline-block;
    margin-bottom: 48px;
    width: 31px;
    height: 31px;
    content: "";
    border-radius: 50%;
    border: 2px solid #0e8784;
    background-color: #fff;
  }

  .work__item:not(:last-child) {
    margin-right: 10px;
    margin-bottom: 0;
  }

  .item-work__number {
    margin-bottom: 42px;
    font-size: 72px;
    line-height: 72px;
  }

  .item-work__title {
    margin-bottom: 38px;
    font-size: 28px;
    line-height: 32px;
  }

  .item-work__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
  }

  .work__btn-wrapper {
    margin-top: 44px;
    text-align: left;
  }

  .site-footer {
    margin-top: 144px;
  }

  .logo__img {
    width: 236px;
    height: 26px;
  }

  .site-footer__nav {
    margin-top: 32px;
    margin-bottom: 65px;
  }

  .site-footer__list {
    flex-direction: row;
  }

  .site-footer__item:nth-child(1) {
    margin-right: 33px;
    margin-bottom: 0;
  }

  .site-footer__item:nth-child(2) {
    margin-right: 33px;
    margin-bottom: 0;
  }

  .social-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .social-item:not(:last-child) {
    margin-right: 24px;
  }

  .social-link {
    color: #fefcf7;
    transition: color 0.2s ease;
  }

  .social-link:hover {
    color: #fdd6ba;
    transition: color 0.2s ease;
  }

  .inro__inner {
    padding: 118px 58px;
  }

  .inro__info {
    max-width: 398px;
    text-align: left;
  }

  .inro__title {
    font-size: 32px;
    line-height: 40px;
  }

  .commitment {
    margin-top: 144px;
  }

  .commitment__inner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 728px;
    margin-right: auto;
    margin-left: auto;
  }

  .commitment__img {
    width: 281px;
    height: 470px;
    object-fit: cover;
  }

  .commitment__info {
    max-width: 339px;
    margin-top: 8px;
    text-align: left;
  }

  .quality {
    margin-top: 304px;
  }

  .quality__inner {
    padding: 224px 74px 67px;
  }

  .quality__info {
    max-width: 540px;
  }

  .info-quality__title {
    font-size: 32px;
    line-height: 48px;
  }

  .quality__img {
    width: 573px;
    height: 320px;
    top: -160px;
    left: calc(50% - 286px);
  }

  .location {
    margin-top: 144px;
  }

  .location__inner {
  }

  .location__title {
    font-size: 24px;
    line-height: 32px;
    text-align: left;
  }

  .location__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .location__item {
    align-items: flex-start;
  }

  .location__item:not(:last-child) {
    margin-bottom: 0;
  }

  .location__item::before {
    margin-bottom: 49px;
  }

  .item-location__title {
    margin-bottom: 21px;
    font-size: 24px;
    line-height: 36px;
  }

  .item-location__address {
    align-items: flex-start;
  }

  .item-location__link {
    font-size: 16px;
    line-height: 26px;
  }
}

@media only screen and (min-width: 992px) {
  .hero__inner {
    padding: 117px 85px;
    border-radius: 10px;
  }

  .hero__info {
    width: 493px;
  }

  .info-hero__title {
    width: 100%;
    margin-bottom: 32px;
    font-size: 72px;
    line-height: 72px;
  }

  .info-hero__text {
    margin-bottom: 56px;
    padding-right: 48px;
    font-size: 16px;
    line-height: 26px;
  }

  .choose__item::before {
    width: 72px;
    height: 72px;
    margin-bottom: 0;
    margin-right: 55px;
  }

  .choose__list {
  }

  .choose__item {
    max-width: 820px;
    margin-left: auto;
    margin-right: auto;
  }

  .item-info-choose__text {
    font-size: 18px;
    line-height: 28px;
  }

  .work__item:not(:last-child) {
    margin-right: 65px;
  }

  .work__line {
    width: 580px;
  }

  .inro__inner {
    padding: 137px 58px;
  }

  .inro__info {
    max-width: 445px;
  }

  .inro__title {
    font-size: 40px;
    line-height: 48px;
  }

  .inro__text {
    font-size: 16px;
    line-height: 26px;
  }

  .commitment__inner {
    max-width: 900px;
    align-items: center;
  }

  .commitment__img {
    width: 380px;
    height: 420px;
  }

  .commitment__info {
    max-width: 450px;
  }

  .quality {
    margin-top: 280px;
  }

  .quality__inner {
    padding: 95px 58px 120px;
  }

  .quality__info {
    margin-left: 0;
    text-align: left;
  }

  .info-quality__title {
    margin-bottom: 28px;
    font-size: 35px;
  }

  .info-quality__text {
    font-size: 16px;
    line-height: 26px;
  }

  .quality__img {
    width: 380px;
    height: 320px;
    top: 50px;
    left: calc(50% + 90px);
  }

  .location__inner {
    padding-left: 58px;
    padding-right: 58px;
  }
}

@media only screen and (min-width: 1120px) {
  .collection {
    margin-top: 136px;
    margin-bottom: 200px;
  }

  .collection__list {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 126px;
    background-size: 1110px 196px;
  }

  .collection__item {
    flex-direction: column;
    align-items: center;
  }

  .collection__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }

  .item-collection__info {
    width: 255px;
    margin-top: 0;
    margin-left: 0;
  }

  .choose__inner {
    padding: 100px 85px 317px;
  }

  .choose__info {
    width: 540px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 86px;
  }

  .choose__list {
    top: 360px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 85px;
    padding-right: 85px;
  }

  .choose__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    padding: 72px 48px 48px;
    margin: 0;
  }

  .choose__item:nth-child(1) {
    margin-bottom: 0;
  }

  .choose__item:nth-child(2) {
    margin-bottom: 0;
  }

  .choose__item::before {
    margin-right: 0;
    margin-bottom: 56px;
  }

  .choose__item-info {
    text-align: center;
  }

  .item-info-chooose__title {
    font-size: 24px;
    line-height: 32px;
  }

  .item-info-choose__text {
    font-size: 16px;
    line-height: 26px;
  }

  .info-choose__title {
    margin-bottom: 32px;
    font-size: 40px;
    line-height: 48px;
  }

  .info-choose__text {
    font-size: 16px;
    line-height: 26px;
  }

  .inro__inner {
    padding: 137px 85px;
  }

  .work {
    margin-top: 351px;
  }

  .work__inner {
    padding-left: 85px;
  }

  .work__line {
    top: 127px;
    left: 100px;
    width: 760px;
  }

  .work__list {
    margin-top: 80px;
  }

  .work__item {
    max-width: 285px;
  }

  .work__item::before {
    margin-bottom: 67px;
  }

  .work__item:not(:last-child) {
    margin-right: 95px;
  }

  .item-work__wrapper {
    max-width: 255px;
  }

  .item-work__title {
    margin-bottom: 42px;
    font-size: 32px;
    line-height: 36px;
  }

  .item-work__text {
    font-size: 16px;
    line-height: 26px;
  }

  .work__btn-wrapper {
    margin-top: 44px;
    text-align: left;
  }

  .site-footer {
    margin-top: 200px;
  }

  .site-footer__inner {
    flex-direction: row;
    align-items: center;
    padding: 47px 85px;
  }

  .site-footer__nav {
    margin-left: 120px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .social-list {
    margin-left: auto;
  }

  .social-item:not(:last-child) {
    margin-right: 24px;
  }

  .social-link {
    color: #fefcf7;
    transition: color 0.2s ease;
  }

  .social-link:hover {
    color: #fdd6ba;
    transition: color 0.2s ease;
  }

  .commitment {
    margin-top: 168px;
  }

  .commitment__inner {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .commitment__img {
    width: 445px;
    height: 520px;
  }

  .commitment__info {
    max-width: 540px;
  }

  .info-commitment__title {
    margin-bottom: 32px;
    font-size: 40px;
    line-height: 48px;
  }

  .info-commitment__text {
    font-size: 16px;
    line-height: 26px;
  }

  .quality {
    margin-top: 256px;
  }

  .quality__inner {
    padding: 88px 85px 176px;
  }

  .info-quality__title {
    margin-bottom: 32px;
    font-size: 40px;
    line-height: 48px;
  }

  .info-quality__text {
    font-size: 16px;
    line-height: 26px;
  }

  .quality__img {
    width: 445px;
    height: 447px;
    top: -88px;
    right: 85px;
  }

  .location {
    margin-top: 168px;
  }

  .location__inner {
    padding-left: 85px;
    padding-right: 85px;
  }

  .location__title {
    margin-bottom: 72px;
  }

  .location__item::before {
    margin-bottom: 46px;
  }

  .item-location__title {
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 36px;
  }
}
